<div id="root"></div>
<% if user_signed_in?%>
  <%= vite_javascript_tag '/app/javascript/entrypoints/spreadsheet.tsx' %>
<% else %>
  <%= vite_javascript_tag '/app/javascript/entrypoints/top.tsx' %>
<% end %>
