<head>
  <title>Order2Post</title>
  <meta name="title" content="Order2Post">
</head>

<div id="root" />
<div id='email' data-email='<%= @current_user_email.to_json %>' />
<% if user_signed_in?%>
  <%= vite_javascript_tag 'spreadsheet.tsx' %>
<% else %>
  <%= vite_javascript_tag 'top.tsx' %>
<% end %>
