<div id="root"></div>
<div className="flash-notifications" id="flashMessage"> 
  <% flash.each do |key, value| %>
    <div className="flex">
        <button onclick="dismissMessage(this)" className="dismiss-button mt-2 ml-2 border-2  border-gray-300 px-2 rounded"><%= value %> <i className="fa-solid fa-xmark"></i></button>
    </div>
  <% end %>
</div>
<%= vite_javascript_tag '../../javascript/components/SpreadSheet.tsx' %>
<%= render 'shared/footer' %>
