<head>
  <title>アカウント削除</title>
  <meta name="title" content="アカウント削除">
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="アカウントが削除されました">
</head>

<div class='app w-full'>
  <%= render 'shared/header' if current_user %>
  <main class="flex flex-grow justify-center">
    <article class="lg:max-w-screen-sm max-w-552 text-gray-600 m-4">
      <h1 class='text-xl'>アカウントが削除されました</h1>
      <br>
      <p>Order2Postをご利用いただきありがとうございました。</p>
      <br>
      <a href='/' class='hover:no-underline underline'> トップページへ戻る </a>
    </article>
  </main>
  <%= render 'shared/footer' %>
</div>
