 <div class="wrapper">
  <footer class='print_none'>
    <div class='flex items-center justify-center flex-wrap p-3 bg-slate-800'>
      <div class='flex flex-shrink-0 text-white mr-6'>  
        <a href='/privacy'>プライバシーポリシー</a>
      </div>
      <div class='flex flex-shrink-0 text-white mr-6'>  
        <a href='/terms'>利用規約</a>
      </div>
    </div>
  </footer>
</div>
