<nav class='flex items-center p-3 border-b border-t-0 border-l-0 border-r-0 border-amber-600 print_none'>
  <div class='flex justify-center items-center w-full'>
    <div class='md:flex max-w-1325 w-full justify-between'>
      <div class='flex flex-shrink-0 text-amber-600'>
        <a href='/'>
          <img src=<%= vite_asset_path('images/logo_origin.png') %> width='280' alt='ロゴ' />
        </a>
      </div>
      <div class='flex justify-end'>
        <div class='text-sm'>
          <strong class='flex justify-end mr-2 md:mt-5 text-amber-600'>
            <%= current_user.email%>
          </strong>
        </div>
        <button id="openButton" type="button" class="z-10">
          <i id="bars" class="fa-solid fa-bars fa-2x"></i>
        </button>
        <button id="closeButton" type="button" class="z-10 hidden">
          <i id="xmark" class="fa-solid fa-xmark fa-2x text-white"></i>
        </button>
        <ul id="menu" class="fixed top-0 left-0 z-0 w-full translate-x-full bg-amber-600 text-center text-xl font-bold text-white transition-all ease-linear">
          <li class="p-3"> 
            <a
              href='/usage'
              id='usage_button'
              class='inline-block text-xl px-4 py-2 leading-none border rounded text-white border-amber-600 hover:border-transparent hover:text-white hover:underline lg:mt-0 mr-2'
            >
              使い方
            </a>
          </li>
            <li class="p-3">       
              <a
                href='/users/edit'
                id='setting_button'
                class='inline-block text-xl px-4 py-2 leading-none border rounded text-white border-amber-600 hover:border-transparent hover:text-white hover:underline lg:mt-0 mr-2'
              >
                設定
            </a>
          </li>
          <li class="p-3">
              <a
              href='/users/sign_out'
              id='signout_button'
              class='inline-block text-xl px-4 py-2 leading-none border rounded text-white border-amber-600 hover:border-transparent hover:text-white hover:underline lg:mt-0 mr-2'
            >
              サインアウト
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  openButton.addEventListener('click', event => {
    openButton.classList.toggle('hidden')
    closeButton.classList.toggle('hidden')
    menu.classList.toggle('translate-x-full')
  });
  closeButton.addEventListener('click', event => {
    openButton.classList.toggle('hidden')
    closeButton.classList.toggle('hidden')
    menu.classList.toggle('translate-x-full')
  });
</script>
