.convert-sheet {
  .resizable {
    display: none;
  }
  .jexcel_row {
    display: none;
  }
}

.content {
}

.sheet {
  width: 100%;
  overflow: auto;
}
.min-1670 {
  min-width: 1670px;
}
.min-300 {
  min-width: 300px;
}
.min-250 {
  min-width: 250px;
}
.min-130 {
  min-width: 130px;
}
.min-120 {
  min-width: 120px;
}
.min-100 {
  min-width: 100px;
}
.min-10 {
  min-width: 10px;
}
