@media print {
  .print_none {
    display: none;
  }
  .print-friendly {
    page-break-inside: avoid;
  }

  .printSheet {
    display: block !important;
  }
  .even-row {
    background-color: #fdf5e6;
  }

  body {
    width: 297mm;
    height: 200mm;
    -webkit-print-color-adjust: exact;
  }

  td.orderNum {
    min-width: 20mm;
    width: 20mm;
  }

  .shipping {
    min-width: 25mm;
    width: 25mm;
  }
  td.item {
    min-width: 80mm;
    width: 80mm;
  }
  td.itemNum {
    min-width: 10mm;
    width: 10mm;
  }

  td.address {
    min-width: 70mm;
    width: 70mm;
  }
  td.date {
    min-width: 20mm;
    width: 20mm;
  }
  td.remarks {
    min-width: 61mm;
    width: 61mm;
  }
}
td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
