.jexcel > tbody > tr > td.readonly {
  color: rgba(0, 0, 0, 1);
  background-color: white;
}

.even-row {
  background-color: #fdf5e6;
}

.odd-row {
  background-color: white;
}
input[type='checkbox'] {
  transform: scale(1.5);
  margin: 0 6px 0 0;
}

.jexcel_textarea {
  display: none;
}
.jexcel_about * {
  display: none;
}
.jexcel_row {
  display: none;
}
.hide {
  display: none;
}
/* .jexcel_content {
  overflow: auto;
  width: 100vw;
}
td {
  min-width: 100px;
} */
