.jexcel > tbody > tr > td.readonly {
  color: rgba(0, 0, 0, 1);
  background-color: white;
}

td.even-row {
  background-color: #fdf5e6 !important;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin: 0 6px 0 0;
}
