<p><%= @resource.email %>様</p>

<p>Order2Postをご利用いただきありがとうございます。</p>
<p>パスワードを変更するためのリンクがリクエストされました。以下のリンクを使用してパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールのリクエストを行っていない場合は、このメールを無視してください。</p>
<p>新しいパスワードを作成するまで、パスワードは変更されません。</p>

